@font-face {
	font-family: 'Conv_alterebro-pixel-font';
	src: url('fonts/alterebro-pixel-font.eot');
	src: local('☺'), url('fonts/alterebro-pixel-font.woff') format('woff'), url('fonts/alterebro-pixel-font.ttf') format('truetype'), url('fonts/alterebro-pixel-font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

